.container {
  margin: 50px auto;
  max-width: 900px;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;
}

@media (max-width: 480px) {
  .ribbon {
    display: none;
  }
}
