env:
  browser: true
  es6: true

parserOptions:
  ecmaFeatures:
    jsx: true

parser: "babel-eslint"

plugins:
  - react

extends:
  - airbnb/base
  - airbnb/rules/react

rules:
  no-unused-vars: 0
  comma-dangle: 0
  consistent-return: 0
  arrow-body-style: 0
  no-unused-expressions: [2, { allowTernary: true, allowShortCircuit: true }]
