env:
  browser: true
  es6: true

parserOptions:
  ecmaFeatures:
    jsx: true

parser: "babel-eslint"

plugins:
  - react

extends:
  - airbnb

rules:
  react/require-render-return: 0
  import/no-unresolved: 0
  no-underscore-dangle: 0
  no-unused-vars: 0
  comma-dangle: 0
  consistent-return: 0
  arrow-body-style: 0
  no-unused-expressions: [2, { allowTernary: true, allowShortCircuit: true }]
